$violet: #8a56eb;
$orange: #FF4F5A;
$ardoise:#333;
$clair:#F1F1F1;

$mobile: 375px;
$desktop : 1440px;

$fsize18: 1.125em;

$font1: 'Comfortaa', cursive;
$font2: 'Roboto', sans-serif;

$bg-img: linear-gradient(112.5deg, rgba(140, 108, 222,0.2) 0%, rgba(140, 108, 222,0.2) 16.667%,rgba(79, 175, 206,0.2) 16.667%, rgba(79, 175, 206,0.2) 33.334%,rgba(109, 141, 214,0.2) 33.334%, rgba(109, 141, 214,0.2) 50.001%,rgba(48, 209, 198,0.2) 50.001%, rgba(48, 209, 198,0.2) 66.668%,rgba(201, 40, 238,0.2) 66.668%, rgba(201, 40, 238,0.2) 83.335%,rgba(170, 74, 230,0.2) 83.335%, rgba(170, 74, 230,0.2) 100.002%),linear-gradient(67.5deg, rgba(140, 108, 222,0.2) 0%, rgba(140, 108, 222,0.2) 16.667%,rgba(79, 175, 206,0.2) 16.667%, rgba(79, 175, 206,0.2) 33.334%,rgba(109, 141, 214,0.2) 33.334%, rgba(109, 141, 214,0.2) 50.001%,rgba(48, 209, 198,0.2) 50.001%, rgba(48, 209, 198,0.2) 66.668%,rgba(201, 40, 238,0.2) 66.668%, rgba(201, 40, 238,0.2) 83.335%,rgba(170, 74, 230,0.2) 83.335%, rgba(170, 74, 230,0.2) 100.002%),linear-gradient(157.5deg, rgba(140, 108, 222,0.2) 0%, rgba(140, 108, 222,0.2) 16.667%,rgba(79, 175, 206,0.2) 16.667%, rgba(79, 175, 206,0.2) 33.334%,rgba(109, 141, 214,0.2) 33.334%, rgba(109, 141, 214,0.2) 50.001%,rgba(48, 209, 198,0.2) 50.001%, rgba(48, 209, 198,0.2) 66.668%,rgba(201, 40, 238,0.2) 66.668%, rgba(201, 40, 238,0.2) 83.335%,rgba(170, 74, 230,0.2) 83.335%, rgba(170, 74, 230,0.2) 100.002%),linear-gradient(90deg, rgb(144,242,211),rgb(161,144,255));
