footer{
    color: $ardoise;
    font-family: $font2;
    // position: absolute;
    bottom: 0;
    width: 100%;
    
    background-color: $clair;
    border-top: 1px dotted $ardoise;
    padding-bottom: 1em;
    margin-top: 2em;
    h2{
        margin: 0.5em;
    }
    img{
        margin: 0.2em;
        width: 1.5em;
        height: auto;
    }
}