//Style du Header et Nav avec @media
//MAJ par pilou le 22/09/21

// mobile
header{
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font2;
        h1{
            margin: 0 auto;
        }
        img{
            width: 1em;
            height: auto;
        }
        ul{
            display: none;
            li{
                list-style-type: none;
                margin:1em;
                a{
                    text-decoration: none;
                }
            }
        }
        button{
            display: none;
 
        }
    }

    img{
        width: 100%;
    }
}

// Desktop
@media screen and (min-width: $mobile){
    header{
        nav{
            margin-bottom: 1em;
            h1{
                margin:0.5em;
            }
            img{
                display:none;
            }
            ul{
                display: inline;
                li{
                    display: inline;
                    a:hover{
                        text-decoration: underline;
                        margin-bottom: 10px;
                        padding-bottom: 10px;
                    }
                }
            }
            button{
                display:inline;
            }

        }

        img{
            max-width: $desktop;
        }
    }
}